<div class="clearfix">
    <button type="button" class="btn btn-info btn-sm pull-right" ng-click="onRefresh()">Refresh</button>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in rows"
            ng-click="selectRow(row)"
            ng-class="{ selected: selectedRow.id == row.id }">
            <td ng-bind="row.id"></td>
            <td ng-bind="row.name"></td>
        </tr>
    </tbody>
</table>
<div class="panel panel-default" ng-show="selectedRow">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Edit the row #<span ng-bind="selectedRow.id"></span></h3>
        <button class="btn btn-warning btn-xs pull-right" ng-click="clearFields()">Clear</button>
    </div>
    <div class="panel-body">
        <div class="form-group row">
            <label class="col-sm-3">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="selectedRow.name">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3">Value</label>
            <div class="col-sm-9">
                <div ng-show="selectedRow.type == 'text'">
                    <input type="text" class="form-control" ng-model="selectedRow.value">
                </div>
                <div ng-show="selectedRow.type == 'select'">
                    <select class="form-control"
                        ng-model="selectedRow.value"
                        ng-options="option.value as option.name for option in selectedRow.options">
                    </select>
                </div>
                <div ng-show="selectedRow.type == 'radio'">
                    <label ng-repeat="option in selectedRow.options" class="radio">
                        <input type="radio" name="radio-option" ng-model="selectedRow.value" ng-value="option.value">
                        <span ng-bind="option.name"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
